# Manejo de datos con pandas 
## Datasets
El dataset utilizado en el presente ejemplo proviene de la información oficial de los datos del COVID-19 en Chile manejados por el Ministerio de Salud, disponibilizados por el [Ministerio de Ciencias y Tecnología](https://github.com/MinCiencia/Datos-COVID19/). 

La fecha de la ultima actualización utilizada fue el 19/04/2020, y los datos son los siguientes:

In [1]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_a134f8ac93734b37bd6ff1a1030d8baa = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='OUuSpg0VgA-o5WA6JBEGNwDtA2eJo3zDHBcwVdOjwFM_',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_a134f8ac93734b37bd6ff1a1030d8baa.get_object(Bucket='covid-donotdelete-pr-tv17s71l1pduzg',Key='Covid-19.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,2020-04-10,2020-04-13,2020-04-15,2020-04-17,Tasa
0,Arica y Parinacota,15,Arica,15101,247552.0,6.0,6.0,12.0,41.0,63.0,87.0,115.0,124.0,134.0,54.1
1,Arica y Parinacota,15,Camarones,15102,1233.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arica y Parinacota,15,General Lagos,15202,810.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arica y Parinacota,15,Putre,15201,2515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Tarapacá,1,Alto Hospicio,1107,129999.0,0.0,0.0,0.0,5.0,6.0,10.0,14.0,15.0,16.0,12.3

# Manejo de datos
## Ejercicio 1 
Agrupar la cantidad de casos por día de cada región. ¿Cual es la cantidad de contagios reportados por región al termino de cada uno de los días?
\
*HINT: Utilizar metodo loc para crear un nuevo dataframe con solo las columnas necesarias. 
Utilizar el metodo group_by para agrupar por Region*

In [85]:
# df.isnull()
df_contagios = df.drop(['Tasa','Codigo region', 'Codigo comuna'], axis=1)
# Agrupar y sumar por region
df_cont_region = df_contagios.groupby(['Region']).sum()
df_cont_region

,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,2020-04-10,2020-04-13,2020-04-15,2020-04-17
Region,,,,,,,,,,
Antofagasta,691854.0,29.0,32.0,49.0,65.0,72.0,105.0,149.0,176.0,211.0
Araucanía,1014343.0,187.0,292.0,414.0,541.0,628.0,680.0,758.0,823.0,884.0
Arica y Parinacota,252110.0,6.0,6.0,12.0,41.0,63.0,87.0,115.0,124.0,134.0
Atacama,314709.0,0.0,0.0,4.0,4.0,5.0,12.0,13.0,13.0,13.0
Aysén,107297.0,0.0,0.0,4.0,5.0,4.0,4.0,7.0,7.0,7.0
Biobío,1663696.0,72.0,224.0,263.0,360.0,409.0,439.0,507.0,542.0,573.0
Coquimbo,836096.0,21.0,23.0,31.0,49.0,54.0,59.0,66.0,66.0,68.0
Los Lagos,891440.0,104.0,169.0,198.0,250.0,283.0,304.0,380.0,390.0,412.0
Los Ríos,405835.0,12.0,54.0,57.0,98.0,108.0,118.0,137.0,150.0,154.0
Magallanes,178362.0,34.0,97.0,154.0,218.0,223.0,318.0,415.0,444.0,501.0
Maule,1131939.0,48.0,55.0,67.0,88.0,101.0,108.0,141.0,152.0,223.0
Metropolitana,8125072.0,1180.0,1483.0,1729.0,2193.0,2542.0,3180.0,3802.0,4228.0,4915.0
O’Higgins,991063.0,7.0,17.0,24.0,31.0,31.0,31.0,48.0,54.0,55.0
Tarapacá,382773.0,5.0,9.0,10.0,18.0,22.0,33.0,52.0,62.0,73.0
Valparaíso,1960170.0,81.0,111.0,142.0,162.0,199.0,220.0,273.0,299.0,345.0
Ñuble,511551.0,151.0,245.0,357.0,463.0,550.0,578.0,618.0,634.0,656.0

## Ejercicio 2
Por cada región normalizar (por cantidad de habitantes) la cantidad de contagiados al último día del dataset. Ordene los datos de forma descendente. ¿Cual es la región con más contagios por habitantes?
\
*HINT: Utilizar metodo "sort_values"*

In [84]:
df_norm = df_cont_region['2020-04-17']/df_cont_region['Poblacion']
df_region = df_norm.sort_values(ascending=False)
df_region.index[0]

'Magallanes'

## Ejercicio 3
Obtenga el resultado del ejercicio anterior sin recurrir a un ordenamiento de los datos.
\
*HINT: Utilizar metodo "idxmax"*

In [82]:
df_norm.idxmax(axis=1)

'Magallanes'

## Ejercicio 4
Calcular el incremente de los contagios entre fechas consecutivas.
\
*Hint: Crear un nuevo dataframe, cuyas columnas sean la cantidad de dias transcurridos y su valor sea la diferencia de los dos dias consecutivos*

In [234]:
columns_index = df_cont_region.columns
columns = list(columns_index[1:])
first = columns[0]
def inc_days(df_region, init_col):
    df_cont_inc = df_region.copy()
    first_column = df_cont_inc[init_col]
    df_cont_inc['0'] = first_column
    for ind in range(1, len(columns)):
        df_cont_inc[str(ind)] = df_cont_region[columns[ind]] - df_cont_region[columns[ind-1]]
    return df_cont_inc

df_incremental = inc_days(df_cont_region, '2020-03-30')
df_inc = df_incremental[list(map(str, range(len(columns))))]
df_inc

,0,1,2,3,4,5,6,7,8
Region,,,,,,,,,
Antofagasta,29.0,3.0,17.0,16.0,7.0,33.0,44.0,27.0,35.0
Araucanía,187.0,105.0,122.0,127.0,87.0,52.0,78.0,65.0,61.0
Arica y Parinacota,6.0,0.0,6.0,29.0,22.0,24.0,28.0,9.0,10.0
Atacama,0.0,0.0,4.0,0.0,1.0,7.0,1.0,0.0,0.0
Aysén,0.0,0.0,4.0,1.0,-1.0,0.0,3.0,0.0,0.0
Biobío,72.0,152.0,39.0,97.0,49.0,30.0,68.0,35.0,31.0
Coquimbo,21.0,2.0,8.0,18.0,5.0,5.0,7.0,0.0,2.0
Los Lagos,104.0,65.0,29.0,52.0,33.0,21.0,76.0,10.0,22.0
Los Ríos,12.0,42.0,3.0,41.0,10.0,10.0,19.0,13.0,4.0
Magallanes,34.0,63.0,57.0,64.0,5.0,95.0,97.0,29.0,57.0
Maule,48.0,7.0,12.0,21.0,13.0,7.0,33.0,11.0,71.0
Metropolitana,1180.0,303.0,246.0,464.0,349.0,638.0,622.0,426.0,687.0
O’Higgins,7.0,10.0,7.0,7.0,0.0,0.0,17.0,6.0,1.0
Tarapacá,5.0,4.0,1.0,8.0,4.0,11.0,19.0,10.0,11.0
Valparaíso,81.0,30.0,31.0,20.0,37.0,21.0,53.0,26.0,46.0
Ñuble,151.0,94.0,112.0,106.0,87.0,28.0,40.0,16.0,22.0

## Ejercicio 5
Por cada región: ¿Cual fue el día con un mayor incremento entre contagiados?
\
*Hint: Utilizar metodo idxmax*

In [241]:
# df_inc.transpose().max()
df_inc.idxmax(axis=1, skipna=True)

Region
Antofagasta           6
Araucanía             0
Arica y Parinacota    3
Atacama               5
Aysén                 2
Biobío                1
Coquimbo              0
Los Lagos             0
Los Ríos              1
Magallanes            6
Maule                 8
Metropolitana         0
O’Higgins             6
Tarapacá              6
Valparaíso            0
Ñuble                 0
dtype: object

## Ejercicio 6
Obtenga estadisticas basicas de los nuevos contagios por día.

In [237]:
df_inc.describe()

,0,1,2,3,4,5,6,7,8
count,16.000000,16.000000,16.00000,16.000000,16.000000,16.000000,16.00000,16.000000,16.000000
mean,121.062500,55.000000,43.62500,66.937500,44.250000,61.375000,75.31250,42.687500,66.250000
std,287.892218,80.585358,65.67077,112.912042,86.154512,155.580151,148.61885,103.563004,167.185924
min,0.000000,0.000000,1.00000,0.000000,-1.000000,0.000000,1.00000,0.000000,0.000000
25%,6.750000,2.750000,5.50000,14.000000,4.750000,7.000000,18.50000,8.250000,3.500000
50%,31.500000,20.000000,14.50000,25.000000,11.500000,21.000000,36.50000,12.000000,22.000000
75%,86.750000,72.250000,43.50000,72.250000,40.000000,30.750000,70.00000,27.500000,48.750000
max,1180.000000,303.000000,246.00000,464.000000,349.000000,638.000000,622.00000,426.000000,687.000000

# Visualización de datos
## Ejercicio 1
Graficar la evolución de contagiados en todo el país según fecha
\
*Hint: Utilizar dataframe creado en ejercicio 1*

In [250]:
# import matplotlib as mpl
columns_index = df_cont_region.columns
columns = list(columns_index[1:])
df_contagiados_region = df_cont_region.transpose()
df_contagiados_region.xlabel('Fechas')
df_contagiados_region.ylabel('Contagiados')
df_contagiados_region.plot(x=columns, kind='bar')
# df_cont_region
# df_contagiados_region

AttributeError: 'DataFrame' object has no attribute 'xlabel'

## Ejercicio 2
Graficar la cantidad de nuevos contagios en días consecutivos en el territorio nacional. Graficar el promedio de nuevos contagios por reportes consecutivos.
\
*Hint: Utilizar el dataframe obtenido en el ejercicio 4. Gener una estructura de datos que repita n-veces el promedio de nuevos contagios, donde n es igual a la cantidad de días*.

## Ejercicio 3
Graficar proporción de casos totales al ultimo día según region en un grafico de torta 
\
*Hint: Utilizar los datos del la fecha del ultimo reporte de contagiados*